.Results {
    margin: 30px auto;
    display: block;
    max-width: 1200px;
    padding:200px;
}

.Results section {
    background-color: #8FC0A9;
    padding: 20px 30px;
    border-radius: 6px;
}

.Results .name-word {
    font-size: 50px;
    text-transform: capitalize;
    font-weight: bolder;
    
}